extends base-template.pug

block content
  .container
    .row
      .col-4
        button.btn.btn-sm.btn-primary.mb-2 Kurs hinzufügen
        .card.blue-border
          if courses
            each course in courses 
              p.selectable.selectable-hover(id="course-" + course.course_id)="> " + course.course_name
              div(id="course-" + course.course_id + "-toggle", hidden)
                if course.assignments
                  each assignment in course.assignments
                    p.selectable.selectable-hover.ps-3(id="assignment-" + assignment.assignment_id)="> " + assignment.assignment_name
                    div(id="assignment-" + assignment.assignment_id + "-toggle", hidden)
                      if assignment.tasks
                        each task in assignment.tasks 
                          p.task.selectable.selectable-hover.ps-4(id="task-" + task.task_id, data-task-id=task.task_id)="- " + task.task_name
      .col-7.ms-3
        .d-flex.align-items-center.mb-2
          button#saveConfigBtn.btn.btn-sm.btn-primary(onclick="updateConfiguration('" + user.email + "')") Konfiguration speichern
          span#invalidJsonText.text-danger.ms-3(hidden) Eingabe ist kein gültiges JSON-Format
        textarea#configuration.form-control.card.json.blue-border