.invalid-feedb {
  display: none;
}

.accordion-button:after {
  order: -1;
  margin-left: 0;
  margin-right: 0.5rem;
}

.accordion-button-two:after {
  margin-left: 1rem;
}

.accordion-text {
  margin-left: 2rem;
}

.highlighted {
  text-decoration: underline;
}

.card {
  border: none;
  padding: 1rem;
  background-color: rgb(240, 240, 240) !important;
  border-radius: 7px;
  height: 75vh;
  overflow: scroll;
  resize: none;
  width: 100%;
  border: 3px solid rgb(240, 240, 240);
  transition: border 0.15s ease-in-out;
}

.blue-border:hover {
  border: 3px solid rgb(133, 183, 254);
}

.selectable {
  border-radius: 5px;
  padding: 0.25rem;
}

.selectable:hover {
  cursor: pointer;
}

.selectable-hover {
  transition: background-color 0.15s ease-in-out;
}

.selectable-hover:hover {
  background-color: rgba(133, 183, 254, 0.4);
}

.selected {
  background-color: rgb(133, 183, 254);
}

p {
  margin-bottom: 0.5rem;
}

.json {
  font-family: monospace;
  font-size: 0.8rem;
}

#myAlert {
  margin: auto;
  position: absolute;
  text-align: center;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid green;
  min-width: 20%;
  z-index: 1;
  overflow: hidden;
}

#myAlert.start-animation::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.234);
  animation: fillGreen 3s ease-in-out forwards;
}

@keyframes fillGreen {
  to {
    left: 0%;
  }
}

.alert {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#invalidJsonText {
  font-size: 0.875rem;
}
